#Load Functions

In [1]:
import torch
import torch.nn as nn
import torch.optim as optim
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler, MinMaxScaler
from sklearn.metrics import mean_squared_error

#Locoal Function Build

#Data Wash

In [60]:
# Load data
df = pd.read_csv('cars.csv', encoding='utf-16')

In [61]:
df.head()

,Brand,Model,Year,Status,Mileage,Dealer,Price
0,Mazda,CX-5,2023,New,NaN,NaN,36703.0
1,Kia,Sportage,2023,New,NaN,Classic Kia,28990.0
2,Chevrolet,Camaro,2024,New,NaN,Classic Chevrolet Beaumont,41425.0
3,Ford,Bronco,2023,Used,1551.0,Mike Smith Chrysler Dodge Jeep RAM,58900.0
4,Acura,TLX,2021,Used,30384.0,Mike Smith Nissan,34499.0

In [62]:
df.isna().sum()

Brand          0
Model          0
Year           0
Status         0
Mileage    88953
Dealer       328
Price       3911
dtype: int64

In [63]:
# Change Mileage NaN to 0 if Status is new
df['Mileage'] = df.apply(lambda row: 0 if (pd.isna(row['Mileage']) and row['Status'] == 'New') else row['Mileage'], axis=1)
# Drop rows where 'Status' is 'Used' and 'Mileage' is NaN
df = df.drop(df[(df['Status'] == 'Used') & (df['Mileage'].isna())].index)
df.isna().sum()

Brand         0
Model         0
Year          0
Status        0
Mileage       0
Dealer      328
Price      3911
dtype: int64

In [64]:
# Drop rows with NaN in 'Price' column
df.dropna(subset=['Price'], inplace=True)

In [65]:
# Drop 'Dealer' column
df = df.drop('Dealer', axis=1)

In [66]:
df.isna().sum()

Brand      0
Model      0
Year       0
Status     0
Mileage    0
Price      0
dtype: int64

#Encodeing Features to Traning Lables

In [67]:
# Check unique brands
print(df['Brand'].unique())
print(df['Brand'].nunique())

['Mazda' 'Kia' 'Chevrolet' 'Ford' 'Acura' 'Volkswagen' 'GMC' 'BMW'
 'Hyundai' 'Jeep' 'Dodge' 'Infiniti' 'Honda' 'Lexus' 'Toyota' 'Cadillac'
 'Buick' 'Lincoln' 'Mercury' 'MINI' 'RAM' 'Land Rover' 'Audi' 'Nissan'
 'Mercedes' 'Porsche' 'Subaru' 'Jaguar' 'Maserati' 'Alfa Romeo' 'Tesla'
 'Bentley' 'Genesis' 'Volvo' 'Chrysler' 'Mitsubishi' 'FIAT' 'Rivian'
 'Aston Martin' 'Lamborghini' 'Hummer' 'Saturn' 'Rolls-Royce' 'Ferrari'
 'Polestar' 'Lucid' 'Scion' 'Pontiac' 'Karma' 'Smart' 'McLaren' 'Lotus'
 'Saab' 'Maybach' 'Suzuki' 'International Scout' 'Plymouth' 'Geo' 'Isuzu'
 'Oldsmobile' 'Bugatti' 'Eagle']
62

In [68]:
# Encoder the Brand to traning lables
Brand_encoder = LabelEncoder()
df['Brand'] = Brand_encoder.fit_transform(df['Brand'])
print(df['Brand'].unique())

[38 28  9 15  0 60 16  4 21 26 11 22 19 31 59  8  7 32 41 35 49 30  3 43
 40 48 56 25 36  1 58  5 17 61 10 42 13 50  2 29 20 53 51 14 46 34 54 47
 27 55 39 33 52 37 57 23 45 18 24 44  6 12]

In [69]:
# Check unique Models
print(df['Model'].unique())
print(df['Model'].nunique())

['CX-5' 'Sportage' 'Camaro' 'Bronco' 'TLX' 'Golf' 'Yukon' 'M340' 'Sonata'
 'Grand Cherokee' 'Wagoneer' 'Durango' 'Mustang' 'F-350' 'QX30' 'Passport'
 'ES' 'Sierra' 'CX-30' 'Tundra' 'CT5' 'Envista' 'Civic' 'Accord' 'Atlas'
 '4Runner' 'Mazda3' 'Sequoia' 'Continental' 'Marquis' 'IS' 'LX' 'RZ 450e'
 'Escalade' 'LS' 'Nautilus' 'Integra' 'MDX' '435 i' 'ILX' 'Palisade' 'X7'
 'Escape' 'Cooper' 'iX M60' 'X3' 'Canyon' 'Land Cruiser' 'LYRIQ' 'Trax'
 '1500' 'Navigator' 'Range Rover' 'RS 5' 'Leaf' 'Altima' 'E-Class'
 'GLS 600' 'Highlander' 'GLS 450' 'Cayenne' 'Q7' 'TT' 'Wrangler' 'GT'
 'F-150' 'F-250' 'Defender' 'QX80' 'QX60' 'Essentia' 'GLE' 'Panamera' 'M3'
 'Telluride' 'Forte' 'A7' 'X5' '330 i' 'iX xDrive50' '740' 'Juke' 'CT6'
 'WRX' 'Crosstrek' 'Ranger' 'Explorer' 'Town Car' 'Fusion' '2500'
 'Gladiator' 'Q5' 'F-PACE' 'Discovery' 'Silverado' 'GLA' 'G 550' 'e-tron'
 'S-Class' 'Ghibli' 'Tahoe' 'ID.4' '6' 'CR-V' 'Elantra' 'GX' 'Odyssey'
 'Giulia' 'Corvette' 'C-Class' 'CX-9' 'Traverse' 'CL' 'X4' '3' 'Suburban'
 'Fiesta' 'Tacoma' 'Model X' 'Flying Spur' 'Roadster' 'Corsair'
 'MX-5 Miata' 'xD' 'Tucson' 'RX' 'LC' 'Macan' 'Taycan' 'RDX' 'Outback'
 'GV80' 'G70' 'Challenger' 'Ascent' 'XT4' '1' 'Pathfinder' 'GLC' 'AMG GT'
 'GLS 580' '300' '4MATIC' 'Acadia' 'RS 7' 'SQ5' '540 i' 'A8' 'QX50' 'S3'
 'Charger' 'Equinox' 'Coupe' 'GR86' 'Prius' 'Armada' 'Maxima' 'Rogue'
 'Kicks' 'Sentra' 'Camry' 'Aviator' 'Pilot' 'Expedition' 'Colorado' 'Soul'
 'Legacy' 'Corolla' 'Sienna' 'Crown' 'XC90' '3500' 'Mirage' 'Terrain'
 'Renegade' 'Envision' 'Carnival' 'Sorento' 'Model S' 'RAV4' 'Tiguan'
 'Jetta' '86' '500' 'Model Y' 'Viper' 'R1S' 'Ioniq' 'S90' 'Model 3'
 'F-450' 'CT4-V' 'Supra' 'Q40' 'Avalon' 'M5' 'Outlander' 'A4' 'Titan'
 'C-HR' 'Venza' 'Cruze' 'XC60' 'CX-3' 'Kona' 'XT6' 'FJ Cruiser' 'G80'
 'SRX' 'Passat' 'Malibu' 'Ridgeline' 'CT4' 'Blazer' 'S8' 'Vantage' 'Versa'
 'Enclave' '911' 'Santa Cruz' 'SC 400' 'X6' 'M850 i' 'Aventador' 'CLA'
 'Journey' 'AMG E53' 'Santa Fe' 'GS 350' 'Grand Wagoneer' 'G90' 'S5'
 'HR-V' 'H2 SUT' 'Q8' 'SL 400' 'Sky' 'Excursion' 'RC' 'Levante' 'Cayman'
 'Compass' 'Cherokee' 'Cullinan' 'XT5' 'M440 i' '750 i' 'UX' '430 i' 'NX'
 'California' 'Niro' 'Maverick' 'BRZ' 'Boxster' 'QX56' '750' 'Bentayga'
 'Quattroporte' 'H3' 'Thunderbird' '2' 'S60' 'Q3' 'A3' 'A6' 'XB7' 'GLB'
 'GS F' 'Bolt' 'Rio' 'Seltos' 'Q60' 'Azera' 'R32' 'M4' 'XC40' 'Electric'
 'GL 450' 'MKZ' 'Grand Touring' 'Murano' 'SQ8' 'LR4' 'Solterra' 'Flex'
 'RLX' 'V60' 'MKC' 'V90' 'Stinger' 'EQS' 'A5' 'Impala' 'Trailblazer'
 'Stelvio' 'K5' 'M2' 'Spider' 'C70' 'CTS' '535 i' 'Encore' 'M6' 'Fit' 'TC'
 'Edge' 'F-TYPE' 'Focus' 'GV70' 'S4' 'Frontier' 'Z Sport' 'Optima'
 'NV200 S' 'Patriot' 'GranTurismo' 'Forester' 'SLK32' 'Pacifica' 'C 43'
 'Town & Country' 'Transit' 'SC 430' 'R8' 'SL 550' 'TL' 'MC20' 'I-PACE'
 'Venue' 'CR-Z' 'Impreza' '440 i' 'XK' 'Touareg' 'Spyder' 'i3' 'XM' 'M8'
 'Xterra' '760i' 'i7' '525' 'E-PACE' 'Eclipse Cross' 'Mazda6' 'Yaris'
 'M-Class' '718' 'XE' 'R1T' 'SLK-Class' 'X2' '428 i' 'Quest' 'Dart'
 '550 i' 'QX70' 'Z4' 'EV6' 'i8' 'XF' 'K900' 'Mariner' 'MKS' 'Grecale'
 'SL 55' 'Volt' 'MKT' 'S6' 'ARIYA' 'Arteon' 'Regal' 'LeSabre' 'ATS'
 'S2000' 'A-Class' 'Accent' 'Aveo' 'PT Cruiser' 'LaCrosse' 'C30'
 'Chevelle' '4500' 'Veloster' '528 i' '720S' '530 i' 'Taos' 'LTD' 'SLK300'
 'RS6' 'MX-30' 'Cascada' 'C-Max' 'E-Transit' 'XC70' 'Avalanche' 'Ghost'
 'DB11' 'CC' 'Firebird' 'X1' 'Taurus' 'Lancer' 'QX55' 'Crosstour' 'Beetle'
 'NV3500' 'Metris' 'EcoSport' 'Lucerne' '535' 'Tonale' 'XTS' 'Z'
 'Police Interceptor' 'Sonic' 'C10' 'Verano' 'DTS' 'DBX' 'FF Base'
 'Gallardo' 'Arnage' 'S7' 'Urus' 'Silver Seraph' 'Alpina' 'Liberty' 'xB'
 '9-3' 'Matrix' 'Type 57' '840 i' 'LR2' 'SQ7' 'XJ' 'Cabrio' 'e-Golf'
 'DeVille' 'Solstice' 'Eos' 'Artura' 'iQ' 'Hornet' 'H2' 'CJ-5' 'RS 3'
 '528i' 'MKX' 'XL7' 'XLR' 'Hardtop' 'E350' 'B4000' 'Tribeca' 'Crossfire'
 'Huracan' 'Savana' 'M760 i' 'i-MiEV' 'GV60' 'Scout' 'FX35' 'Park Avenue'
 '530e' 'Grand Prix' 'Air' 'SL 43' 'M35' 'F8 Tributo' 'Cadenza' 'Insight'
 'FR-S' 'NSX' 'Valiant' 'EQE' 'E250' 'TSX' 'MazdaSpeed3' 'Stealth' '430i'
 'SS' 'Sprinter' 'Mulsanne' 'Sebring' 'bZ4X' 'Magnum' 'S209' 'Commander'
 'Dakota' 'Grand Caravan' 'G6' 'Phantom' 'G37' 'Element' 'Monte Carlo'
 'MR2' 'Wraith' 'Captiva' 'Avenger' 'DBS' 'El Camino' '745 i' '600LT'
 'SL 450' '530i' 'Tracker' '850' '488' 'Convertible' 'Strada' 'SLC 43'
 'i5' 'Equus' 'Dawn' 'ELR' 'Mazda5' 'Vibe' 'Equator' 'G20' '528' 'G35'
 'Neon' 'S-TYPE' '540i' '812 Superfast' 'F1' 'Genesis' 'GTC4Lusso'
 'Mazda2' 'Astro' 'H1' 'Five Hundred' 'E150' 'Roma' 'Vanquish' '488 GTB'
 'Tribute' 'Q45' 'DB9' 'Countryman' 'GS' 'Sedona' 'Nitro' 'Galant'
 'Reatta' '9-5' 'B2' 'Cobalt' 'ProMaster' 'NV1500' 'ActiveHybrid 5' '4C'
 'Trooper' 'ForTwo' '570S' 'Spectra5' 'XG350' 'Elise' 'Marauder' 'Torrent'
 'Mountaineer' 'Vue' 'G25x' 'NV2500' 'Baja' '675LT' '560 SL' 'del Sol'
 'Riviera' '928' 'Aztek' '570GT' '914' 'SLK350' 'Century' 'Allante' '840i'
 'Rondo' 'RS 4' 'Aura' 'W460' 'Prowler' 'Envoy' 'Duster' 'STS' 'Caravan'
 'HHR' 'Cavalier' 'Cutlass' 'Mark' 'Eurovan' 'JX35' 'RL' 'Venture' 'SL55'
 'Bonneville' 'Rapide' 'GS-6' 'Eldorado' 'Grand Vitara' 'SX4' 'SLS'
 'Portofino' 'Endeavor' 'CX-7' 'B3000' 'Caliber' 'Chiron' 'Mirai' '575 M'
 'Milan' 'IS-F' 'F430' 'Fleetwood' 'Talon' 'G8' 'S-10' 'Prelude' 'CJ-7'
 'FX37' 'Corniche' 'Veracruz' 'Pickup Truck' 'G5' 'Ranchero' '944'
 'Silver' 'Fiero' 'Uplander' 'Scion' 'Vanagon' 'Sunfire' 'S80' 'EV9'
 '550i' 'LeBaron' 'Celica' 'Entourage' '924 S']
642

In [70]:
# Encoder the Model to traning lables
Model_encoder = LabelEncoder()
df['Model'] = Model_encoder.fit_transform(df['Model'])
print(df['Model'].unique())

[127 531 134 105 543 289 624 346 525 292 595 183 392 226 433 414 194 518
 126 571 122 211 151  72  84  18 376 516 156 371 311 331 457 217 329 399
 316 356  11 310 410 604 218 158 638 600 136 335 332 566   1 400 459 453
 338  77 185 270 305 268 142 431 545 597 276 224 225 181 439 437 219 267
 411 345 552 249  64 602   6 639  42 321 123 594 167 460 223 561 251   3
 288 429 228 182 521 264 252 631 473 285 547 309  37 118 201 281 404 287
 162 107 129 565 116 601   4 538 239 546 386 245 468 161 364 641 570 456
 326 365 551 448 406 280 259 146  82 618   0 415 266  67 269   5  17  70
 454 500  29  65 434 477 147 215 164 271 423  78 374 469 324 515 135  91
 419 222 153 528 339 160 517 168 609   7 382 553 464 210 139 527 385 446
 555 319  51  19 387 590 442 317 485 384 227 121 540 427  87 350 407  61
 556 108 585 169 607 125 325 620 234 261 503 413 367 465 120 101 483 581
 588 206  54 507 486 603 354  89 117 320  66 508 273 296 262 479 303 300
 432 488 522 221 447 340 143 155 148 170 619 349  45 573   9 398 133 402
 373  97 104 436  44 100 440 301 554   2 481 426  60  63 605 265 274 102
 466 514 430  92 444 348 606 203 263 361 294 391 502 328 524 244 450 576
 357 577 536 193  62 313 563 535 322 344 530 112 124  28 207 351 241 541
 199 229 246 279 478 250 626 405 395 416 290 248 497 409 106 560 564 487
 445 492 542 355 308 584 119 314  12 614 559 533 633 617 353 622  46 635
  20 186 197 378 623 343  40 610 443 495 599   8 441 178  31 438 627 195
 636 611 323 369 358 297 491 591 359 480  68  80 463 337  69 475  59  71
  90 408 333 111 149  13 582  22  41  24 549 330 496 455 363 140 109 187
 608  86 286 172 113 240 598 550 334 435 166  99 397 380 198 342  27 557
 621 625 420 526 110 587 176 175 233 283  79 482 575 520  76 341 640  52
 372 572  48 327 501 613 130 630 180 523 213  81 637 306 299 114 451  23
 360 615 616 304 190  96 567 165 307 509 352 632 278 511 236 412  25 293
  74 489 347 232 131 315 235 393 578 192 189 544 379 534  10 504 532 390
 512 628 366 476 154 177 291 258 417 256 204 388 362 596 137  88 174 200
  43  38 490  26 562  50  14 157 537 494 634 216 179 191 377 589 214 253
  21 255 401 474  30  47 230 284 277 375  83 298 242 188 470 580  15 568
 428 173 163 272 513 403 282 462  53  94 152 424 394  73  16 569 247  35
 529 612 205 368 558 389 592 254 396  98  39  33 629 467  57  93  34  55
 498 145  75  49 471 452  85 593 425 212 184 505 138 302 141 171 370 220
 318 449 583 493 103 461 275 202 295 506 499 421 208 128  95 132 150 383
  36 381 312 231 243 548 260 472 422 115 237 159 586 418 257 458  58 519
 238 574 510 579 539 484 196  32 336 144 209  56]

In [71]:
# Check unique Status
print(df['Status'].unique())
print(df['Status'].nunique())

['New' 'Used' 'Certified']
3

In [72]:
# Encoder the Status to traning lables
Status_encoder = LabelEncoder()
df['Status'] = Status_encoder.fit_transform(df['Status'])
print(df['Status'].unique())

[1 2 0]

In [73]:
df.head()

   Brand  Model  Year  Status  Mileage    Price
0     38    127  2023       1      0.0  36703.0
1     28    531  2023       1      0.0  28990.0
2      9    134  2024       1      0.0  41425.0
3     15    105  2023       2   1551.0  58900.0
4      0    543  2021       2  30384.0  34499.0

#Normalize All Features & Target

In [74]:
# Split data into features (X) and target (y)
X = df.drop('Price', axis=1).values
y = df['Price'].values

# Normalize all features using MinMaxScaler
scaler_X = MinMaxScaler()
X = scaler_X.fit_transform(X)

# Normalize the target variable (y) using MinMaxScaler
scaler_y = MinMaxScaler()
y = scaler_y.fit_transform(y.reshape(-1, 1)).flatten()  # Flatten to match original shape

In [75]:
X[0:10]

array([[0.62295082, 0.19812793, 0.98461538, 0.5       , 0.        ],
       [0.45901639, 0.82839314, 0.98461538, 0.5       , 0.        ],
       [0.14754098, 0.20904836, 1.        , 0.5       , 0.        ],
       [0.24590164, 0.16380655, 0.98461538, 1.        , 0.00370082],
       [0.        , 0.84711388, 0.95384615, 1.        , 0.0724989 ],
       [0.98360656, 0.45085803, 0.96923077, 0.        , 0.03315469],
       [0.26229508, 0.97347894, 0.95384615, 1.        , 0.16346135],
       [0.06557377, 0.53978159, 0.98461538, 0.5       , 0.        ],
       [0.3442623 , 0.81903276, 0.98461538, 0.5       , 0.        ],
       [0.3442623 , 0.81903276, 0.98461538, 0.5       , 0.        ]])

In [76]:
y[0:10]

array([0.00454336, 0.00358857, 0.0051279 , 0.00729114, 0.00427053,
       0.00420876, 0.00705024, 0.00763961, 0.00469711, 0.00414624])

# Model Build

In [95]:
# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Convert data to PyTorch tensors
X_train = torch.tensor(X_train, dtype=torch.float32)
y_train = torch.tensor(y_train, dtype=torch.float32).view(-1, 1)
X_test = torch.tensor(X_test, dtype=torch.float32)
y_test = torch.tensor(y_test, dtype=torch.float32).view(-1, 1)

In [96]:
# Define Neural Network
class PricePredictionModel(nn.Module):
    def __init__(self):
        super(PricePredictionModel, self).__init__()
        self.fc1 = nn.Linear(X_train.shape[1], 64)
        self.dropout1 = nn.Dropout(0.5)  # 50% dropout
        self.fc2 = nn.Linear(64, 32)
        self.dropout2 = nn.Dropout(0.5)
        self.fc3 = nn.Linear(32, 1)

    def forward(self, x):
        x = torch.relu(self.fc1(x))
        x = self.dropout1(x)
        x = torch.relu(self.fc2(x))
        x = self.dropout2(x)
        x = self.fc3(x)
        return x

In [97]:
# Initialize the model, loss function, and optimizer
model = PricePredictionModel()
criterion = nn.MSELoss()
optimizer = optim.Adam(model.parameters(), lr=0.001)

In [119]:
# Train the model
num_epochs = 300
for epoch in range(num_epochs):
    model.train()
    optimizer.zero_grad()
    outputs = model(X_train)
    loss = criterion(outputs, y_train)
    loss.backward()
    optimizer.step()

    if (epoch + 1) % 30 == 0:
        print(f'Epoch [{epoch + 1}/{num_epochs}], Loss: {loss.item():.4f}')

Epoch [10/100], Loss: 0.0005
Epoch [20/100], Loss: 0.0005
Epoch [30/100], Loss: 0.0005
Epoch [40/100], Loss: 0.0004
Epoch [50/100], Loss: 0.0004
Epoch [60/100], Loss: 0.0003
Epoch [70/100], Loss: 0.0003
Epoch [80/100], Loss: 0.0003
Epoch [90/100], Loss: 0.0003
Epoch [100/100], Loss: 0.0002

In [120]:
# Evaluate the model on the test set
model.eval()
with torch.no_grad():
    predictions = model(X_test)
    mse = mean_squared_error(y_test.numpy(), predictions.numpy())
    print(f'Test MSE: {mse:.4f}')

Test MSE: 0.0001

In [121]:
# Predict price for a new car entry
new_data = pd.DataFrame({
    'Brand': ['Toyota'],
    'Model': ['Camry'],
    'Year': [2020],
    'Status': ['Used'],
    'Mileage': [15000.0],
})

# Encode and normalize new data using the same MinMaxScaler
new_data['Brand'] = Brand_encoder.transform(new_data['Brand'])
new_data['Model'] = Model_encoder.transform(new_data['Model'])
new_data['Status'] = Status_encoder.transform(new_data['Status'])

new_data_scaled = scaler_X.transform(new_data.values)
new_data_tensor = torch.tensor(new_data_scaled, dtype=torch.float32)

In [122]:
new_data_scaled

array([[0.96721311, 0.21060842, 0.93846154, 1.        , 0.03579132]])

In [123]:
# Predict price and inverse transform
model.eval()
with torch.no_grad():
    predicted_price_normalized = model(new_data_tensor)
    predicted_price = scaler_y.inverse_transform(predicted_price_normalized.numpy().reshape(-1, 1))
    print(f"Predicted Price: {predicted_price[0][0]:.2f}")

Predicted Price: 5999.46

In [124]:
predicted_price_normalized

tensor([[0.0007]])